extends layout
block content
  .row
    .col-md-12
      .col-md-8.dark
        .col-md-offset-4
          .row
            .topcontent
              h1 Help the Bitcoin network<br>by funding full nodes
              p This is a non-profit, <a href="http://github.com/orweinberger/fullnode.co">open-source</a> project aimed to simplify and automate the creation process of full nodes.
              p Once our wallet reaches an equivalent of $20 in BTC, a new full node will be created for 1 month.
              p: strong Why do we need full nodes anyway?
              p 1. Full nodes provide lookup of historic blocks, which is necessary for new nodes synchronizing.
              p 2. Full nodes provide filtered transaction lookup for SPV clients, which is necessary for those clients to function.
              p 3. Full nodes validate blocks and transactions, and relay them.
              p Read more about <a href="https://medium.com/@lopp/bitcoin-nodes-how-many-is-enough-9b8e8f6fd2cf" target="_blank">why we need full nodes</a>.
              p: strong Want to help?
              p  Spin up a full node by sending some coins to the address on the right, <a href="http://github.com/orweinberger/fullnode.co">contribute</a> or <a href="https://www.changetip.com/tipme/orweinberger">tip me</a>.
              p: strong Questions (How does it work? Why so expensive?)
              p Please read our <a id="loadfaq" href="#">FAQs</a>
              p: strong Contact me
              p <a href="http://reddit.com/user/xabbix">/u/xabbix</a> on Reddit or <a href="http://twitter.com/orweinberger">@orweinberger</a> on Twitter
      .col-md-4.light
        .row
          .topcontent.padding-left-50
            p Total of <span class="metric" id="count">#{servers.length}</span> Fullnodes deployed
            p Next Fullnode in <span class="metric" id="goal">---</span>
            p
              a(href="bitcoin:#{hotwallet}"): img(src="https://blockchain.info/qr?data=#{hotwallet}&size=270", border="0")
            p - You can send any amount<br>- Balance is updated after 1 confirmation.
  .row
    .col-md-8
      .col-md-offset-4
        .row
          .bottomcontent
            p * Servers may take a few minutes to boot and appear as full nodes.
            table.serverlist.table.table-bordered.table-striped
              thead
                tr
                  th Created
                  th DNS
                  th IP Address
                  th Provider
                  th Location
                  th TTL
              tbody
                each server in servers
                  tr
                    td #{moment(server.timestamp).fromNow()}
                    td #{server.dnsName}.fullnode.co
                    td #{server.ip}
                    td #{server.provider}
                    td #{server.dc}
                    td #{moment(server.timestamp).add(30, 'days').fromNow()}
  include faq